# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
env/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore dataset files (если они большие)
Datasets/
